<!-- views/index.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Todo App</title>
</head>
<body>
  <h1>Update Form</h1>
  
  <h2>Add New Todo</h2>
  <form action="/todo1" method="post">
    <label for="firstName">First Name:</label>
    <input type="text" id="firstName" name="firstName" value="<%= t.firstname %>">
    
    <label for="lastName">Last Name:</label>
    <input type="text" id="lastName" name="lastName" value="<%= t.Lastname %>">
    
    <button type="submit">Add Todo</button>
  </form>
  
</body>
</html>
